USE [master]
GO
/****** Object:  Database [TpLogin]    Script Date: 2/10/2023 08:25:49 ******/
CREATE DATABASE [TpLogin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TpLogin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TpLogin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TpLogin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TpLogin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TpLogin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TpLogin]
GO
/****** Object:  User [alumno]    Script Date: 2/10/2023 08:25:49 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/10/2023 08:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Username] [varchar](50) NOT NULL,
	[Contrasena] [varchar](50) NOT NULL,
	[Respuesta] [varchar](50) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
