@*Hay que linkear bootstrap con las views y el css*@
<div class="form">
    <form action='@Url.Action("CambiarContrasena")' autocomplete="off">
        <div class=formCompletar><h2>Mail:<h2><input type="text" name="Mail" placeholder="Ingrese su mail"></div>
        <!--Debería seleccionar la pregunta previa-->
        <div class="form-floating">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Selección de Preguntas</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <label for="floatingSelect">Works with selects</label>
    </div>
        <div class=formCompletar><h2>Respuesta:<h2><input type="text" name="Respuesta" placeholder="Ingrese su respuesta"></div>
    </form>
</div>
